html { height:100%; }

body {
  background: url(../img/walk.jpg) no-repeat center;
  background-size:cover;
}

.save-the-date {
  color: #fff;
  font-size:3em;
  position:absolute;
  bottom:10vh;
  left:6vw;
}

h1, h2, h3 {
  line-height:1;
  margin:0;
}

h2, h3 {
  font-family: 'Source Code Pro', monospace;
  font-weight:200;
  font-size:0.77em;
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight:normal;
}

h1 span {
  font-family: 'Dancing Script', cursive;
  font-size:1.25em;
}

h2 {
  line-height:1;
}

h3 {
  margin-top:0.5em;
  text-align: center;
}