* { box-sizing: border-box; }
html { height:100%; }

body {
  opacity: 0;
  pointer-events: none;
  -webkit-transition:opacity 200ms ease-in-out;
  transition:opacity 200ms ease-in-out;
  max-width:1920px;
  margin:0 auto;
}

body.active {
  opacity:1;
  pointer-events: all;
}

img {
  max-width:100%;
  display:block;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding:0;
}

body {
  font-family: 'Montserrat', serif;
  overflow-x: hidden;
  background-color: #fbf8f7;
}

h1, h2, h3, h4, h5, h6 {
  line-height:1;
  margin:0;
  font-weight:normal;
}

header {
  padding:1em 2em;
  max-width:1920px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:0 auto;
  width:100%;
  transition:all 200ms ease-in-out;
  display:flex;
  justify-content:space-between;
  z-index: 2;
  background:#fbf8f7;
}

header h1 {
  z-index:1;
}

header h1 a {
  text-decoration:none;
  display: block;
  padding:10px 8px 8px;
  border-radius:50%;
  background:url(../img/footer_bg.jpg) no-repeat center;
  background-size:1000%;
}

header ol {
  display:flex;
  align-items:center;
  justify-content:flex-end;
  margin:0;
  padding:0;
}

header li {
  display:inline-block;
}

header li a:hover {
  color:#ae6835;
}

header label.mobile {
  align-items:center;
  cursor:pointer;
  user-select: none;
  height: 100%;
  z-index:1;
}

header .mobile {
  display:none;
}

header label.mobile span, header label.mobile span::before, header label.mobile span::after {
  display:block;
  width:33px;
  height:3px;
  background:#444;
  border-radius:3px;
  transition: all 0.2s ease-out;
}

header label.mobile span {
  position:relative;
}

header label.mobile span::before, header label.mobile span::after {
  content:"";
  position:absolute;
}

header label.mobile span::before {
  top:-8px;
}

header label.mobile span::after {
  top:8px;
}

header input.mobile:checked + label span {
  background: transparent;
  transform:scale(0.5);
}

header input.mobile:checked + label span::before, header input.mobile:checked + label span::after {
  top:0;
}

header input.mobile:checked + label span::before {
  transform: rotate(45deg) scale(1.75);
}

header input.mobile:checked + label span::after {
  transform: rotate(-45deg) scale(1.75);
}

header nav {
  display:flex;
  align-items:center;
}

header nav a, a.rsvp {
  display:block;
  padding:0.1em 0;
  margin:0 1em;
  text-transform: uppercase;
  text-decoration: none;
  color:#444;
  position: relative;
  transition:all 200ms ease-in-out;
}

a.rsvp {
  padding:0.25em 1.75em;
  border: 1px solid #ae6835;
  color:#fff;
  background-color: #ae6835;
  line-height: 24px;
}

a.rsvp:hover {
  color:#ae6835;
  background-color:transparent;
}

a.external[target="_blank"]:after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}

main {
  margin-top:70px;
}

section {
  margin-bottom: 4%;
}

section > h3 {
  text-transform:uppercase;
  text-align:center;
  margin:0 auto 2%;
  position:relative;
  width:1280px;
  max-width:98%;
}

section > h3:before {
  content:"";
  display:block;
  height: 3px;
  width:100%;
  position:absolute;
  top: calc(50% - 2px);
  z-index:-1;
  background:#ae6835;
  border-radius: 3px;
}

section > h3 span {
  display:inline-block;
  padding:0 2%;
  background-color: #fbf8f7;
}

section.hero {
  position:relative;
}

#bg-slider {
  display:flex;
  height: auto !important;
}

#bg-slider li {
  flex: 0 0 20%;
}

#bg-slider.lightSlider  li {
  flex:1;
}

section.hero .badge-wrapper {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1;
  display: flex;
  align-items: center;
  text-align: center;
}

header .header-badge-wrapper, section.hero .badge-wrapper::before, footer .footer-badge-wrapper {
  background-image: url(../img/hero-center.png);
  background-repeat: no-repeat;
  background-size:100%;
}

header .header-badge-wrapper {
  height:40px;
  width:43px;
  display:flex;
  align-items:center;
}

header .header-badge-inner {
  width:100%;
  color: #fff;
  font-size:24px;
  text-align:center;
  transition:all 200ms ease-in-out;
}

section.hero .badge-wrapper::before {
  content: '';
  height: 0;
  padding-top: 17%;
  width: 18%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  overflow: visible;
}

section.hero .badge-wrapper.animate::before {
  animation:1.25s rot ease-in-out;
}

footer .footer-badge-wrapper {
  height:90px;
  width:98px;
  display:flex;
  align-items:center;
  margin:0 auto;
}

footer .footer-badge-inner {
  color:#fff;
  font-size:48px;
}

@keyframes rot {
  from {
    transform:rotate(0);
  }

  to {
    transform:rotate(720deg);
  }
}

section.hero .badge-inner, footer .footer-badge-inner {
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

section.hero .badge-inner::before {
    content: '';
    position: absolute;
    background-image: url(../img/hero-left.png);
    background-repeat: no-repeat;
    height: 140px;
    width: 95px;
    top: -20%;
    left: -75px;
}

section.hero .badge-inner::after {
    content: '';
    position: absolute;
    background-image: url(../img/hero-right.png);
    background-repeat: no-repeat;
    height: 140px;
    width: 95px;
    top: -20%;
    right: -75px;
}

section.hero .badge-inner h1, section.hero .badge-inner h2 {
  color:#fff;
  text-shadow: 1px 1px 7px rgba(0,0,0,0.2);
}

header .header-badge-inner, section.hero .badge-inner h1, footer .footer-badge-inner {
  font-family:'Dandelion Vintage', cursive;
}

header .header-badge-inner span, section.hero .badge-inner h1 span, footer .footer-badge-inner span {
  font-family:'Marigold', cursive;
  font-weight: 500;
}

section.hero .badge-inner h2 {
  font-family:'Claxton', sans-serif;
  font-weight:300;
}

section.hero .badge-inner h2 span {
  position:relative;
  bottom:4px;
}

.tab-content.auto-size {
  transition:height 0.2s ease-in-out;
}

.mobile-br {
  display:none;
}

section.bride-and-groom input[type=radio], section.details input[type=radio] {
  display:none;
}

section.bride-and-groom .tabs, section.bride-and-groom .tab-content {
   width:90%;
   margin:0 auto;
   position: relative;
}

section.bride-and-groom .tabs {
  display:flex;
  margin-bottom:4%;
}

section.bride-and-groom .tab-content > div, section.details .tab-content, section.details .tab-content > div {
  display:flex;
  align-items:flex-start;
  opacity:0;
  pointer-events:none;
  transition:opacity 200ms ease-in-out;
  position: absolute;
  top: 0;
}

section.bride-and-groom .tab-content aside {
  display:flex;
  align-items:flex-end;
}

section.bride-and-groom .tab-content aside h4, section.details .tabs h3, section.details article h4 {
  font-family:'Soak Up The Sun Script', cursive;
}

section.bride-and-groom .tab-content aside h4 {
  font-size:4em;
}

section.details .tabs h3, section.details article h4 {
  font-size:5em;
}

section.bride-and-groom .tab-content aside span {
  margin-left: 1em;
  text-transform: uppercase;
}

section.bride-and-groom .tab-content img {
  width:43%;
  margin-right:2%;
}

section.bride-and-groom .tab-content article {
  width:55%;
}

section.bride-and-groom .tab-content article p {
  font-size:1em;
  line-height:1.75;
  margin-top: 2em;
}

section.bride-and-groom .tabs > li {
  flex:0 0 25%;
  text-align:center;
}

.tabs label {
  transition:all 200ms ease-in-out;
  display:block;
}

.tabs label:hover {
  cursor:pointer;
  transform:scale(1.05);
}

section.bride-and-groom .tabs label:hover .icon-bg img {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

section.bride-and-groom .tabs h3, section.details h5 {
  font-size:1.25em;
  text-transform:uppercase;
  letter-spacing:1px;
  font-family:'Claxton', sans-serif;
}

section.bride-and-groom .tabs .icon-bg {
  display:block;
  width:85px;
  height:85px;
  background-image:url(../img/tab-bg.svg);
  background-repeat:no-repeat;
  background-size:85px;
  background-position:0 4px;
  margin: 0 auto 1em;
}

#about-groom:checked ~ .tabs label[for="about-groom"] .icon-bg,
#about-bride:checked ~ .tabs label[for="about-bride"] .icon-bg,
#our-story:checked ~ .tabs label[for="our-story"] .icon-bg,
#engagement:checked ~ .tabs label[for="engagement"] .icon-bg {
  background-image:url(../img/tab-bg-active.svg);
}

#about-groom:checked ~ .tabs label[for="about-groom"] h3,
#about-bride:checked ~ .tabs label[for="about-bride"] h3,
#our-story:checked ~ .tabs label[for="our-story"] h3,
#engagement:checked ~ .tabs label[for="engagement"] h3 {
  color:#ae6835;
}

#about-groom:checked ~ .tab-content .about-groom,
#about-bride:checked ~ .tab-content .about-bride,
#our-story:checked ~ .tab-content .our-story,
#engagement:checked ~ .tab-content .engagement,
#wedding-details:checked ~ .tab-container .tab-content,
#accommodations:checked ~ .tab-container .tab-content,
#explore-kc:checked ~ .tab-container .tab-content,
#travel:checked ~ .tab-container .tab-content,
#wedding-details:checked ~ .tab-container .tab-content .wedding-details,
#accommodations:checked ~ .tab-container .tab-content .accommodations,
#explore-kc:checked ~ .tab-container .tab-content .explore-kc,
#travel:checked ~ .tab-container .tab-content .travel {
  opacity:1;
  pointer-events:all;
}

section.break {
  background:url(../img/break.jpg);
  background-attachment: fixed;
  height: 540px;
  background-size: cover;
}

section.details .tab-container {
  width:70%;
  max-width:1040px;
  margin:0 auto 4%;
  position:relative;
}

section.details .tabs {
  background:url(../img/info-bg.jpg) no-repeat center;
  background-size:cover;
  display:flex;
  flex-wrap:wrap;
  padding:70px 100px;
  min-height: 100%;
}

section.details .tabs > li {
  flex:0 0 50%;
  display:flex;
  align-items:center;
  justify-content:center;
  background: rgba(216, 208, 196, 0.4);
  padding:15% 0;
}

section.details .tabs > li:first-child, section.details .tabs > li:last-child {
  background: rgba(174, 104, 53, 0.6);
  color:#fff;
}

section.details .tab-content {
  opacity:0;
  pointer-events:none;
  position:absolute;
  left:0;
  top:0;
  z-index:1;
  width:100%;
  min-height: 100%;
  background:rgba(255,255,255,0.9);
}

section.details .tab-content > label {
  position:absolute;
  left:3%;
  font-size:0.8em;
  cursor:pointer;
  z-index:2;
}

section.details .tab-content > label.top {
  top:3%;
}

section.details .tab-content > label.bottom {
  bottom:3%;
}

section.details .tab-content > label, section.details .tab-content a:not(.rsvp) {
  text-decoration:none;
  color:#666;
}

section.details .tab-content > label:hover, section.details .tab-content a:not(.rsvp):hover {
  color:#ae6835;
}

section.details .tab-content > div {
  min-height: 100%;
  align-items:center;
  width: 100%;
  padding: 6% 0;
}

section.details .tab-content article, section.details .tab-content aside, section.details ul.options li {
  flex:0 0 50%;
}

section.details ul.options.airbnb li {
  flex:0 0 100%;
}

section.details article, section.details aside {
  padding:2em 3em;
}

section.details article {
  text-align:center;
}

section.details table {
  width:100%;
}

section.details table th {
  font-weight:normal;
  vertical-align:top;
  text-transform:uppercase;
  font-size:0.7em;
  letter-spacing:1px;
  text-align:right;
  padding-top:1px;
}

section.details article h4 {
  margin-bottom:10%;
  font-size:5em;
}

section.details article h5 {
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:1.5em;
  margin-bottom:5%;
}

section.details article h6 {
  font-size:0.9em;
  text-transform:uppercase;
  letter-spacing:1px;
  margin-bottom:2%;
}

section.details article address {
  font-style:normal;
  margin-bottom:2%;
  font-size:0.8em;
  line-height:1.5;
}

section.details article time {
  font-size:0.9em;
  margin-bottom: 4%;
  display: block;
}

section.details article p {
  font-size:0.8em;
  line-height:1.5;
}

section.details article a.rsvp {
  display:inline-block;
}

section.details aside img {
  width:100%;
}

section.details .logo {
  width:120px;
  display:inline-block;
}

section.details .logo + .logo {
  margin-left:2%;
}

section.details .logo.large {
  width:240px;
}

section.details aside p {
  text-align:right;
  font-size:0.8em;
  color:#444;
  margin-top:2%;
}

section.details ul.options {
  display:flex;
  flex-wrap:wrap;
}

section.details ul.options li {
  margin-bottom:8%;
}

section.details ul.list li {
  line-height:2;
}

section.registry .registry-container {
  position: relative;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  padding-top:300%;
  width:1280px;
  max-width:94%;
  margin:0 auto;
}

section.registry iframe {
  display:block;
  border:0;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#gallery {
  width: 1280px !important;
  max-width: 94% !important;
  margin:0 auto 2%;
}

footer {
  background:url(../img/footer_bg.jpg) no-repeat center;
  background-size:cover;
  background-position:top;
  background-attachment:fixed;
  padding:2% 0;
  position:relative;
}

section.countdown {
  display:flex;
  justify-content:center;
}

section.countdown div {
  padding:18px 0;
  text-align:center;
  width:12%;
  margin:1%;
  font-size:48px;
  line-height:58px;
  background:#fbf8f7;
  border-radius:20px;
  border:2px solid #ae6835;
  color:#ae6835;
}

section.countdown span::after {
  display:block;
  font-size:20px;
  line-height:24px;
  text-transform:uppercase;
  color:#444;
}

#days::after {
  content:"days";
}

#hours::after {
  content:"hours";
}

#minutes::after {
  content:"minutes";
}

#seconds::after {
  content:"seconds";
}

@media (max-width: 1500px) {
  section.bride-and-groom .tab-content aside {
    flex-direction:column;
    align-items:flex-start;
  }

  section.bride-and-groom .tab-content aside span {
    margin-left:0;
    margin-top:1.5em;
  }

  section.bride-and-groom .tab-content article p {
    font-size:0.8em;
  }
}

@media (max-width: 1200px) {
  section {
    margin-bottom:8%;
  }

  section > h3 {
    margin-bottom:4%;
  }

  section.details .tab-content, section.details .tab-content > div {
    flex-direction:column;
  }

  section.details .tab-container {
    width:94%;
  }

  section.details .tabs {
    padding:35px 50px;
  }

  section.details .tabs > li {
    flex:0 0 100%;
  }

  section.details .tabs > li:last-child {
    background:rgba(216, 208, 196, 0.4);
    color:#222;
  }

  section.details .tabs > li:nth-child(3) {
    background: rgba(174, 104, 53, 0.6);
    color: #fff;
  }

  section.details article, section.details aside {
    padding:2em 1em;
  }
}

@media (max-width: 1150px) {
  .mobile-br {
    display:block;
  }
}

@media (max-width: 1000px) {
  section.countdown div {
    width: 18%;
  }
}

@media (max-width: 900px) {
  header {
    padding-right:1em;
  }

  header label.mobile {
    display:flex;
  }

  header nav::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right: 0;
    width: 100%;
    height:90px;
    margin:0 auto;
    background:#fbf8f7;
  }

  header nav {
    flex-direction:row-reverse
  }

  header nav ol {
    position:absolute;
    top:90px;
    left:0;
    z-index:-1;
    width:100%;
    background:#fbf8f7;
    flex-direction:column;
    transform:translate3d(0, calc(-100% - 90px), 0);
    transition: all 0.3s ease-in-out;
  }

  header nav ol a {
    padding:1em 2em;
  }

  header input.mobile:checked ~ ol {
    transform: translate3d(0, 0, 0);
  }

  section.hero .badge-inner h1 {
    margin-bottom:1%;
  }

  section.hero .badge-inner h2 {
    font-size:1.5em;
  }

  section.hero .badge-inner::before {
    height:105px;
    width:71px;
    background-size:75%;
    top:5%;
    left:-15%;
  }

  section.hero .badge-inner::after {
    height:105px;
    width:71px;
    background-size:75%;
    top:5%;
    right:-25%;
  }

  footer {
    padding:6% 0;
  }
}

@media (max-width: 700px) {
  section.bride-and-groom .tab-content > div {
    flex-direction:column;
  }

  section.bride-and-groom .tab-content > div > * {
    width:98%;
  }

  section.bride-and-groom .tab-content img {
    margin:0 0 0.5em 0;
  }

  section.countdown div {
    font-size: 36px;
    line-height: 44px;
  }

  section.countdown span::after {
    font-size:16px;
    line-height:20px;
  }
}

@media (max-width: 550px) {
  section.bride-and-groom .tabs .icon-bg {
    width:50px;
    height:50px;
    background-size:50px;
    margin:0 auto 0.75em;
  }

  section.bride-and-groom .tabs h3 {
    font-size:0.9em;
  }

  section.details .tabs h3 {
    font-size:4em;
  }

  section.countdown div {
    width:22%;
    font-size: 28px;
    line-height: 36px;
  }

  section.countdown span::after {
    font-size:14px;
    line-height:16px;
  }
}